root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = false
max_line_length = 128

[*.{js,ts}]
indent_size = 2

[*.rs]
indent_size = 4

[*.md]
indent_size = false